.Noticia {
    width: 300px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #3333;
    background-color: #489DEC;
    padding: 10px;
    text-align: center;
    color: white;
  }

.Noticia:hover{
    width: 300px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #3333;
    background-color: #047BE9;
    padding: 10px;
    text-align: center;
    color:  black;
}
